/* --- CUSTOM PROPERTIES --- */
:root {
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);
  --dark-cyan: hsl(192, 100%, 9%);
  --pale-blue: hsl(207, 100%, 98%);
  --light-gray: #828b94;
  --mobile-width: 375px;
  --desktop-width: 1440px;
  --headings-font: 'Poppins', sans-serif;
  --body-font: 'Open Sans', sans-serif;
}

/* --- STYLES --- */
* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: var(--body-font);
  max-width: 100vw;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--headings-font);
}

header {
  padding: 2rem;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.space-top-4 {
  margin-top: 4rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo i {
  margin-right: 0.5rem;
  color: var(--light-pink);
  font-size: 1.6rem;
}

.logo h1 {
  font-size: 1.9rem;
}

.cta button {
  color: var(--light-pink);
  border: 1px solid var(--light-pink);
  background: transparent;
  padding: 0.5rem 1.3rem;
  border-radius: 2rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

main {
  padding: 10px;
}

.hero button:hover,
.bottom-cta button:hover,
#subscribe:hover {
  background: var(--light-pink);
}

.hero {
  text-align: center;
  margin-top: 6rem;
}

.hero-title {
  font-size: 2.2rem;
}

.hero-subtitle {
  max-width: 40vw;
  margin: 1.5rem auto;
}

.hero button,
.bottom-cta button {
  margin-top: 1rem;
  color: white;
  background: var(--pink);
  padding: 1rem 3rem;
  border-radius: 2rem;
  border: 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.hero-image {
  width: 80%;
  margin: 5rem auto;
}

.hero-image img {
  width: 100%;
}

.hero-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: left;
}

.hero-stats-big-p {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 0.1rem;
}

.hero-stats-small-p {
  color: var(--light-gray);
}

.grow {
  margin-top: 3rem;
}

.grow-blurb,
.flow-blurb {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: -5px 0;
  padding: 0 3rem;
}

.grow-blurb {
  background: var(--pale-blue);
}

.flow-burb {
  background: 'white';
}

.grow.footer .grow-blurb {
  background: var(--dark-cyan);
  color: white;
  justify-content: space-between;
  align-items: start;
}

.grow-blurb > *,
.flow-blurb > * {
  flex: 1 1 50%;
  padding: 1rem;
}

.grow-blurb h2,
.flow-blurb h2 {
  font-size: 2rem;
}

.grow-blurb p,
.flow-blurb p {
  max-width: 85%;
}

.grow-blurb img,
.flow-blurb img {
  width: 100%;
}

.flowing {
  max-width: 100vw;
  margin-top: 8rem;
  margin-bottom: 5rem;
}

.bottom-cta {
  text-align: center;
  margin-top: 7rem;
  margin-bottom: 5rem;
}

.footer-left,
.footer-right {
  max-width: 45%;
}

footer .grow-blurb {
  padding-bottom: 4.5rem;
  padding-top: 7rem;
}

.footer-left p {
  max-width: 65%;
}

footer i {
  margin-right: 0.5rem;
}

.social {
  margin-top: 3rem;
}

.fab {
  color: white;
  font-size: 1.75rem;
}

.fab:hover {
  color: rgb(24, 153, 192);
}

.footer-right p {
  max-width: 40ch;
}

input[type='text'] {
  border: 0;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  width: 61%;
  margin-right: 10px;
}

#subscribe {
  background: var(--pink);
  color: white;
  border: 0;
  border-radius: 0.25rem;
  margin-left: 1rem;
  padding: 0.45rem 1.7rem;
}

#error {
  color: rgb(255, 51, 0);
  margin: 0;
  margin-top: -0.7rem;
  padding: 0;
  display: none;
}

@media (max-width: 375px) {
  header {
    padding: 0.7rem;
  }
  .logo h1 {
    font-size: 1.5rem;
  }
  .logo i {
    font-size: 1.2rem;
  }
  .cta button {
    padding: 0.3rem 0.6rem;
  }
  .hero-title {
    font-size: 1.8rem;
  }
  .hero-subtitle {
    max-width: 80vw;
  }
  .hero-stats {
    flex-direction: column;
    text-align: center;
    gap: 6rem;
  }
  .grow-blurb {
    flex-direction: column-reverse;
    text-align: center;
    padding: 0;
  }
  .grow-blurb h2,
  .flow-blurb h2 {
    margin-top: 2.5rem;
    font-size: 1.5rem;
  }
  .grow-blurb p,
  .flow-blurb p {
    max-width: 90%;
  }
  .flowing {
    margin: 6rem 0;
  }
  .flow-blurb {
    flex-direction: column;
    padding: 0;
    text-align: center;
  }
  .bottom-cta {
    margin-bottom: 6rem;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-right,
  .footer-left {
    min-width: 100%;
    text-align: left;
    font-size: 0.75rem;
  }
  .footer-right p,
  .footer-left p {
    max-width: 100%;
  }
  .footer-right input {
    width: 100%;
  }
  .footer-right button {
    float: right;
  }
  .footer-left {
    margin-top: 3rem;
  }
}
